@import '../assets/styles/app/variable.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // color: transparent;
  // animation: text-color-change 0.1s infinite;
  // font-size: 16px;
  // line-height: 24px;
  // font-family: monospace;
  // margin: 0;
  // padding: 0;
  // text-shadow: 0 0 3px $font-text-shadow;

  // &:before {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-image: $background-gradient;
  //   background-color: #020;
  //   z-index: -1;
  //   content: '';
  // }

  .content {
    width: 100%;
    max-width: 340px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(white, .2);
  }
}


