@import './variable.scss';

//	Button element
.p-button {
  background: none;
  border: none;

  &:not(a):not(.p-disabled):hover {
    background: $green-dark;
  }

} 
//	Icon element
.p-button-icon {
  color: $green;
  font-size: 1.5rem;
} 
.p-button-text {} //