@import './assets/styles/app/variable.scss';



body {
  margin: 0;
  font-family: $font-family-base !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;

  color: transparent; // white;
  animation: text-color-change 0.1s infinite;
  font-size: 16px;
  line-height: 24px;
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 3px $font-text-shadow;

  &:before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $background-gradient;
    background-color: $green-dark-3;
    z-index: -1;
    content: '';
  }
}

h1 { font-size: $h1-font-size }
h2 { font-size: $h2-font-size }
h3 { font-size: $h3-font-size }
h4 { font-size: $h4-font-size }
h5 { font-size: $h5-font-size }
h6 { font-size: $h6-font-size }

button {
  font-weight: bold;
  letter-spacing: 1px;
  color: transparent; // white;
  background: transparent;
  text-shadow: 0 0 3px $font-text-shadow;
  animation: text-color-change 0.1s infinite;
}

a {
  color: $green;
  animation: text-color-change 0.1s infinite;
  text-decoration: none;

  &:hover {
    color: $green-dark;
    text-decoration: underline;
  }
}



p {
  margin: 16px 0;
}

.signature {
  color: $green;
  animation: text-color-change 0.1s infinite;
  text-align: right;
  font-size: 1.6em;
  font-weight: 100;
}

.cursor {
  animation: blinking 1s infinite;
}


@keyframes blinking {
  50% {
    opacity: 0;
  }
}

@keyframes text-color-change {
  10% {
    color: $green-dark-1;
  }
  66% {
    color: $green-dark-2;
  }
}


