@import '../../../assets/styles/app/variable.scss';

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.leftSide {
  .categories {
    align-items: flex-start;

    .subcategory {
      left: $side-category-size;
      padding-left: 1rem;

      > li {
        > div {
          span {
            padding-left: .5rem;
          }
        }
      }

      .sound {
        padding-left: 2rem;
        
        &:before {
          left: .7rem;
          border-left: 1px dotted;
        }

        &:after {
          left: .7rem;
        }
      }
    }
  }

  .categoryShadow {
    left: 0;
  }
}

.rightSide {
  .categories {
    align-items: flex-end;

    .subcategory {
      right: $side-category-size;
      padding-right: 1rem;

      > li  {
          
        > div {
          flex-direction: row-reverse;

          span {
            padding-right: .5rem;
          }
        }
      }

      .sound {
        padding-right: 2rem;

        &:before {
          right: .7rem;
          border-right: 1px dotted;
        }

        &:after {
          right: .7rem;
        }
      }
    }
  }

  .categoryShadow {
    right: 0;
  }
}

.leftSide,
.rightSide {
  position: relative;

  .categories {
    display: flex;
    flex-direction: column;

    > li {
      width: $side-category-size;
      height: $side-category-size;
      
      
      &.active {
        > .subcategory {
          visibility: visible;
        }
      }

      &:hover {
        cursor: pointer;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          font-size: 3rem;
        }
  
        span {
          font-size: 1rem;
        }
      }

      

      .subcategory {
        position: absolute;
        top: 0; 
        
        visibility: hidden;
        

        > li  {
          
          > div {
            display: flex;
            align-items: center;
            line-height: 2rem;
            i {
              font-size: 1.5rem;
            }
            
          }
        }

        .sound {
          position: relative;
          
          &:before, &:after {
            position: absolute;
            content: '';
            clear: both;
            display: block;
          }

          &:before {
            height: 100%;
          }

          &:after {
            top: 50%; 
            width: 1rem;
            border-top: 1px dotted;
          }

          &:last-child {
            &:before {
              height: 50%;
            }
          }
        }
      }
    }
  }

  .categoryShadow {
    position: absolute;
    top: 0; 
    width: $side-category-size;
    height: $side-category-size;
    background: rgba(white, .5);
    border-radius: 4px;

    // &:before {
    //   content: '';

    //   display: block;
    //   width: 3px;
    //   height: 100%;
    //   background: linear-gradient(180deg,#63eff5 0,#54c75e);
    // }
  }
}